# ======================
# FRONTEND
# ======================

frontendCertifica/node_modules
frontendCertifica/dist
frontendCertifica/.vite

# ======================
# BACKEND
# ======================

backendCertifica/.env
backendCertifica/venv
backendCertifica/.venv
backendCertifica/__pycache__
backendCertifica/*.pyc
backendCertifica/app/__pycache__
backendCertifica/alembic/__pycache__

# ======================
# DOCKER
# ======================

.env

# ======================
# OS
# ======================

.DS_Store
Thumbs.db
